/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* regole generali */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* sezione header logo  */

header {
    height: 100px;
    margin: 0 20px;
}

.logo {
    line-height: 100px;
    vertical-align: middle;
}

.tipogramma {
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    line-height: 100px;
    vertical-align: middle;
    margin-left: 10px;
}

/* /header  */

/* corpo principale */

main {
    background-color: #f6f8f9;
    height: 1000px;
    padding-top: 60px;
}

.container {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

/* sezione pulsanti  */

.buttons {

    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    border-bottom: solid 5px #f6f8f9;
    padding-left: 50px;
}

.buttons button {
    padding: 3px;
    border-radius: 6px;
    font-size: 15px;
    height: 30px;
    width: 100px;
    margin-right: 10px;
    font-weight: 700;
    cursor: pointer;
}

.buttonBlue {
    background-color: #47adf1;
    color: white;
    border: none;
}

.buttonWhite {
    color: #c5cbd0;
    border: solid 1px #c5cbd0;
    background-color: white;
}

/* sezione task */

.taskContainer {
    padding: 20px 50px;
}

.taskSection {
    color: #444851;
    font-size: 20px;
    font-weight: 900;
}

.checkmark {
    border: solid 2px green;
    color: green;
    border-radius: 50%;
    font-weight: 900;
    padding: 1px 4px;
    margin-right: 5px;
}

.taskName {
    color: #444851;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.taskBadge {
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
    border-radius: 20px;
    color: white;
}

.editorial{
    background-color: #47adf1;
}