/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* regole generali */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* sezione header logo  */

header {
    height: 100px;
    margin: 0 20px;
}

.logo {
    line-height: 100px;
    vertical-align: middle;
}

.tipogramma {
    font-size: 40px;
    font-weight: 900;
    line-height: 100px;
    vertical-align: middle;
    margin-left: 10px;
}

/* /header  */

/* corpo principale */

main {
    background-color: #f6f8f9;
    height: 2000px;
}

.container {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: red;
}